

.bkg--model{
    background: transparent;
}
.bkg--outline{
    border: 1px solid gray;
}

.model--small{
transform: scale(.3);
position: relative;
}

.model--medium{
    transform: scale(.6);
    display: inline-flex;


}

.model--large{
    transform: scale(1.2);

  

}

@keyframes rot{
   from{
       transform-origin: center center;
       transform: rotate(0deg);
    }
    to{
       transform-origin: center center;
       transform: rotate(360deg);
    }
}