

.bkg--model{
    background: transparent;
}
.bkg--outline{
    border: 1px solid gray;
}

.model--small{
transform: scale(.3);
position: relative;
}

.model--medium{
    transform: scale(.6);
    display: inline-flex;


}

.model--large{
    transform: scale(1.2);

  

}

@keyframes rot{
   from{
       transform-origin: center center;
       transform: rotate(0deg);
    }
    to{
       transform-origin: center center;
       transform: rotate(360deg);
    }
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
    border: 1px solid black;
  }
  
  .pen-url {
    margin-right: 15px;
    white-space: nowrap;
  }
  .copy-link-button{
    display: inline;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border:1px #777 solid;
  }