.container-options{
  /*   background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    background: transparent;
    justify-content: space-around;
    margin-top: 20vh;
    display: flex;
    margin-bottom: 50px;
    max-width: 100%;

}
.quick-link{
  color: blueviolet;
  text-decoration: none;
  padding: 2px;
}

@media screen and (max-width: 960px) {

  .container-options{
    max-width: 100%;
    display: block;
    padding: 10px;
    color: white;
    align-items: center;

  }
  #model-header, #model-intro{
color: white;
  }
  



}